.editUser{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    letter-spacing: 2px;
}

.input-edit-user{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.botones-user{
    padding-bottom: 15px;
}

.cont-login-d{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.boton-l-d{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
}

.eliminar{
    width: 150px;
    height: auto;
}